#mainTitle {
    color: #f2f3fa; /* 字體顏色 */
    z-index: index 5;
}
body{
    background-color: #5d6c89;
    position: relative;
    
}
.background{
    position: absolute;
    width: 100%;
    height: auto;
    z-index: index -5;
}

* {
    scrollbar-width: none; /* 適用於 Firefox */
    -ms-overflow-style: none; /* 適用於 IE 和舊版 Edge */
}
  
*::-webkit-scrollbar {
    display: none; /* 適用於 Chrome、Safari、新版 Edge */
}

.Send{
    position: absolute; /* 使用絕對定位 */
    cursor: pointer; /* 鼠標變為手型 */
    background: transparent; /* 按鈕背景透明 */
    border: none;
    z-index: 1; /* 確保按鈕在背景之上 */
    transition: transform 0.3s ease; /* 加入過渡效果 */
}

.Send:hover {
    transform: scale(1.05); /* 懸浮時放大 */
}
.Send img {
    width: 200px; /* 可根據需要調整按鈕圖片大小 */
    height: auto; /* 確保按鈕圖片保持比例 */
}

#button_0 {
    margin:170px 0px 0px 150px;
}

#button_1 {
    margin:450px 0px 0px 300px;
    /* display: none */
}

#button_2 {
    margin:70px 0px 0px 750px;
    /* display: none */
}

#button_3 {
    margin:300px 0px 0px 1000px;
    /* display: none */
}