/* 滑油字 */
@font-face {
    font-family: '滑油字';
    src: url('../fonts/WD-XL滑油体TC.ttf') format('truetype'); 
    font-weight: normal;
    font-style: normal;
}

/* 沈魚落雁體 */
@font-face {
    font-family: '沈魚落雁體';
    src: url('../fonts/ChenYuluoyan-Thin.ttf') format('truetype'); 
    font-weight: normal;
    font-style: normal;
}

/* 源柔體 */
@font-face {
    font-family: '源柔';
    src: url('../fonts/GenJyuuGothic-Medium.ttf') format('truetype'); 
    font-weight: normal;
    font-style: normal;
}

/* 根元素樣式 */
html {
    box-sizing: border-box; /* 設定邊框盒模型 */
    height: 100%; /* 設定高度為 100% */
}

/* 繼承邊框盒模型及清除外內邊距 */
*,
*::before,
*::after {
    box-sizing: inherit; /* 繼承 box-sizing 設定 */
    margin: 0; /* 清除外邊距 */
    padding: 0; /* 清除內邊距 */
}
.headTitle{
    text-align: center; /* 使內部的文字置中 */
    margin-top: 20px; /* 添加一些上邊距 */
    margin-bottom: 20px;
}
/* 主要標題樣式 */
#mainTitle {
    font-size: 37px; /* 字體大小 */
    font-weight: normal; /* 字體粗細 */
    letter-spacing: 5px; /* 字母之間的間距設置*/
    font-family: '滑油字';
    margin: 3px 15px px auto;
    background-color: transparent;
    color: #5d6c89;
    padding: 0;
    border: none;
}

/* 副標題樣式 */
#secondTitle {
    font-size: 24px; /* 字體大小 */
    font-weight: normal; /* 字體粗細 */
    color: #fad02c; /* 字體顏色 */
    white-space: nowrap; /* 防止換行 */
    overflow: hidden; /* 隱藏溢出的文本（如果有的話） */
    text-overflow: ellipsis; /* 在文本溢出時顯示省略號 */
    font-family: '沈魚落雁體';
    background-color: transparent;
    padding: 0;
    border: none;
}
