<!DOCTYPE html>
<html lang="zh-Hant">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>織夢機</title>
    <!-- 引入外部 CSS 樣式表 -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}"> 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/DreamWeaver.css') }}"> 
</head>
<body>
    <button class="back" type="button" onclick="back()">回上頁</button>
    
    <div class="header">
        <img src="static/images/織夢機logo.png" >
    </div>

    <div class="chat-container">
        <div id="chat-box" class="chat-box"></div>
    </div>

    <div class="input-container">
        <input type="text" id="user-input" class="chat-input" placeholder="輸入內容...">
        <button class="Send" type="button" onclick="handleUserInput()"> <!-- 傳送按鈕 -->
            <img src="static/images/織夢機傳送按鈕.png" alt="" />
        </button>
    </div>
    
    <script src="static/js/DreamWeaver.js"></script> <!-- 導入 JavaScript 檔案 -->
</body>
</html>