<!DOCTYPE html>
<html lang="zh-Hant"> <!-- 使用繁體中文 -->
<head>
    <meta charset="UTF-8"> <!-- 設定字符編碼為 UTF-8 -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- 設定響應式視窗以適應不同設備 -->
    <title>D.I.D 地平線 | 三星創業競賽</title> <!-- 頁面標題 -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}"> <!-- 引入外部 CSS 樣式表 -->
    <script src="{{ url_for('static', filename='js/Scripts.js') }}"></script> <!-- 引入外部 JavaScript 檔案 -->
</head>
<body>
    hi <!-- 頁面內容，當前為簡單的文本 -->
</body>
</html>
