<!DOCTYPE html>
<html lang="zh-Hant">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/styles.css"> 
    <link rel="stylesheet" href="static/css/QuestionShow.css"> 
    <title>每日一問紀錄</title>
</head>
<body>
    <!-- 標題區域 -->
    <div class="headTitle">
        <button id="mainTitle" onclick="BackHome()">D.I.D 地平線</button> <!-- 主要標題 -->
        <button id="secondTitle" onclick="BackHome()">Do It, Dreamers</button> <!-- 副標題 -->
    </div>

    <!-- 顯示紀錄區域 -->
     <div class="entry-container">
        <div id="question-container" class="question-container"></div>
     </div>
    <script src="static/js/QuestionShow.js"></script>
</body>
</html>