<!DOCTYPE html>
<html lang="zh-Hant"> <!-- 使用繁體中文 -->
<head>
    <meta charset="UTF-8"> <!-- 設定字符編碼為 UTF-8 -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- 設定響應式視窗以適應不同設備 -->
    <title>D.I.D 地平線 </title> <!-- 頁面標題 -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Question.css') }}"> <!-- 引入外部 CSS 樣式表 -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}"> <!-- 引入外部 CSS 樣式表 -->
</head>
<body>
    <!-- 標題區域 -->
    <div class="headTitle">
        <button id="mainTitle" onclick="BackHome()">D.I.D 地平線</button> <!-- 主要標題 -->
        <button id="secondTitle" onclick="BackHome()">Do It, Dreamers</button> <!-- 副標題 -->
    </div>

    <!-- 內容區域 -->
    
    <div class="circle">
        <!-- 問題顯示區域 -->
        <div class="questionSpace">
            <span id="question">今天天氣如何</span> <!-- 顯示的問題 -->
        </div>

        <!-- 回答輸入區域 -->
        <div class="returnSpace">
            <input type="return" id="return" placeholder="你的回答..." autocomplete="off"> <!-- 用戶輸入回答的框 -->
            <button type="button" onclick="submitQuestionAnswer()">儲存回答</button> <!-- 提交按鈕 -->
        </div>

        <!-- 線 -->
        <div class="Oval"></div> 

        <!-- 顯示當前時間的區域 -->
        <div class="headerContainer">
            <div class="dateDisplay">
                <span id="currentDate"></span> <!-- 日期 -->
            </div>
            <div class="timeDisplay">
                <span id="currentTime"></span> <!-- 即時時間 -->
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/Question.js') }}"></script> <!-- 引入外部 JavaScript 檔案 -->
    
</body>
</html>
