<!DOCTYPE html>
<html lang="zh-Hant">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/styles.css"> 
    <link rel="stylesheet" href="static/css/QuestionShow.css"> 
    <title>每日一問紀錄</title>
</head>
<body>
    <!-- 標題區域 -->
     <div class="headTitle">
        <span id="mainTitle">D.I.D 地平線</span>
        <span id="secondTitle">Do It, Dreamers</span>
    </div>

    <!-- 顯示紀錄區域 -->
    <div class="question-container" id="question-container">
        <div class="date-and-question">
            <div class="date">2024 Sep. 8th</div> <!-- 顯示儲存的日期 -->
            <div class="question">三件你一想到就會微笑的事情？</div> <!-- 顯示問題 -->
        </div>
        <div class="answer">1. 和朋友們分享快樂時光。2. 媽媽為我準備的美味點心。3. 雨天撐傘聽雨聲的寧靜時刻。</div> <!-- 顯示回答 -->
    </div>
    
    <script src="static/js/QuestionShow.js"></script>
</body>
</html>