<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/styles.css">
    <link rel="stylesheet" href="static/css/signup.css">
    <title>signup page</title>
</head>

<body>
    
    <!-- 標題區域 -->
    <div class="headTitle">
        <button id="mainTitle" onclick="BackHome()">D.I.D 地平線</button> <!-- 主要標題 -->
        <button id="secondTitle" onclick="BackHome()">Do It, Dreamers</button> <!-- 副標題 -->
    </div>
    
    <div class="oval"></div> <!-- 標題下的線 -->
        
    <div class="signupSpace"> <!-- 輸入區塊 -->
        <div class="signuptittle">
        註冊
        </div>
        <div class="personaldata">
            <section class="personaldata Username">
            使用者名稱
            <input type="text" id="username" name="username" required>   
            </section>

            <section class="personaldata Mail">
            電子信箱
            <input type="email" id="mail" name="mail" required>
            </section>

            <section class="personaldata Password">
            密碼
            <input type="password" id="password" name="password" required>
            </section>
                    
            <button class="signup button" type="button" onclick="signupAnswer()"> <!-- 註冊按鈕 -->
                <img src="static/images/signup/SignupButton.png" alt="" />
            </button>
        </div>  
    </div>
    <script src="static/js/signup.js" defer></script> <!-- 導入 JavaScript 檔案 -->
</body>
</html>